{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Book_id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.bookId }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.genre }}</td>
                <td>
                    <a href="{{ path('book_show', {'book_id': book.bookId}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('book_edit', {'book_id': book.bookId}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'no records found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_new') }}">{{ 'Create new'|trans }}</a>
{% endblock %}
