{% extends 'base.html.twig' %}

{% block title %}{{ 'Book'|trans }}{% endblock %}

{% block body %}
    <h1>{{ "Book"|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ "Book_id"|trans }}</th>
                <td>{{ book.bookId }}</td>
            </tr>
            <tr>
                <th>{{ "Title"|trans }}</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>{{ "Author"|trans }}</th>
                <td>{{ book.author }}</td>
            </tr>
            <tr>
                <th>{{ 'Price'|trans }}</th>
                <td>{{ book.price }}</td>
            </tr>
            <tr>
                <th>{{ "Genre"|trans }}</th>
                <td>{{ book.genre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">{{  'back to list'|trans }}</a>

    <a href="{{ path('book_edit', {'book_id': book.bookId}) }}">{{ 'edit'|trans }}</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
