{{ form_start(form) }}
<div class="card-body">
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}
        {{ form_help(form.title) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_help(form.description) }}
    </div>
    <div class="form-group">
        {{ form_label(form.parent) }}
        {{ form_errors(form.parent) }}
        {{ form_widget(form.parent) }}
        {{ form_help(form.parent) }}
    </div>
    <div class="card-footer">
        <button class="btn btn btn-primary" type="submit">
            {{ button_label|default('Save') }}
        </button>
    </div>
</div>
{{ form_end(form) }}
